@import url('https://fonts.googleapis.com/css?family=Indie+Flower:regular&subset=latin,latin-ext');

.App {
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}


